
<div class="container-fluid" id="customerHome">
  <div class="row customerHomeHeader">
    <div class="col-md">
      <a href="#" class="customerHomeCateg"><img src="../components/asset/img/categorieHomeClient.PNG"></a>    
    </div>
  </div>
  <div class="row customerHomeHeader">
    <div class="col-md">
      <img src="../components/asset/img/homeicongreen.png" class="center">
    </div>
  </div>
  <div class="row customerHomeHeader">
    <div class="col-md customerHomeAdresse">
      <input type="text" class="champColor" id="adresse" placeholder=" Adresse postale"  ng-model="adress"><button type="button" ng-click="clickValidate()">Valider</button>  
      <br>
      <div ng-click="clickGeoloc()"><img src="../components/asset/img/mapgreen.PNG">Me localiser</div>
    </div>
  </div>    
  <div class="row customerHomeBody">
    <div class="col-md">
      <h3>SUGGESTIONS</h3>

        <div class="row bodycard">
          <div class="col-md">
            <h3><span>{{restaurant[1].nom}}</span></h3>
            <img ng-src="{{restaurant[1].img}}" class="img-fluid" ng-click="selectRestaurant(restaurant[1])">    
            <div class="restoDescCustomer" >
              <p>{{restaurant[1].nom}}</p>
              <p>{{restaurant[1].description}}</p>
              <p>{{restaurant[1].horaire}}</p>    
            </div>
          </div>
        </div>
        <div class="row bodycard">
          <div class="col-md">
            <h3><span>{{restaurant[2].nom}}</span></h3>
            <img ng-src="{{restaurant[2].img}}" class="img-fluid" ng-click="selectRestaurant(restaurant[2])">    
            <div class="restoDescCustomer" >
              <p>{{restaurant[2].nom}}</p>
              <p>{{restaurant[2].description}}</p>
              <p>{{restaurant[2].horaire}}</p>    
            </div>
          </div>
        </div>
    </div>   
  </div>
</div>        
