
<div class="container-fluid" id="customerHome">
  <div class="row customerHomeHeader">
    <div class="col-md">
      <a href="#" class="customerHomeCateg"><img src="../components/asset/img/categorieHomeClient.PNG"></a>    
    </div>
  </div>
  <div class="row customerHomeHeader">
    <div class="col-md">
      <img src="../components/asset/img/homeicongreen.png" class="center">
    </div>
  </div>
  <div class="row customerHomeHeader">
    <div class="col-md customerHomeAdresse">
      <input type="text" class="champColor" id="adresse" placeholder=" Adresse postale"  ng-model="adress"><button type="button" ng-click="clickValidate()">Valider</button>  
      <br>
      <div ng-click="clickGeoloc()"><img src="../components/asset/img/mapgreen.PNG">Me localiser</div>
    </div>
  </div>    
  <div class="row customerHomeBody">
    <div class="col-md">
      <h3>SUGGESTIONS</h3>

      <div class="customerHomeSugg" >
       
        <p>Pas de suggestion pour le moment</p>
        
      </div>
    </div>   
  </div>
</div>        
