<div class="container-fluid" id="cardChangePage" ng-if="IsRestaurant">

  <div class="row headerPrevious">
    <div class="col-md">    
      <a href="#!/monResto"> 
        <img src="../components/asset/img/previous1.png"></a> 
      <h1>Mon restaurant <img src="../components/asset/img/crayon20x20.png" alt="pen" class="img-fluid"></h1>
    </div>    
  </div>
  <div class="row bodycard">
    <div class="col-md">
      <h2>{{resto.nom}}</h2>

      <div class=imgResto>
        <img src="../components/asset/img/Resto1.PNG"  class="img-fluid" alt="RestoImg">
      </div>    
      <h3><span>Entrées</span></h3>
      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img src="../components/asset/img/Entree.PNG" alt="salade" class="img-fluid">

      <ul>
        <li><p><span>Salade 1</span><span class="price">5€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Salade 2</span><span class="price">55€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Salade 3</span><span class="price">5000€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <a href="#" class="addFood">ajouter une entrée</a>
      </ul>
    </div>
  </div>    
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Plats</span></h3>
      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img src="../components/asset/img/Plat.PNG" alt="salade" class="img-fluid">
      <ul>
        <li><p><span>Plat 1</span><span class="price">5€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Plat 2</span><span class="price">55€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Plat 3</span><span class="price">5000€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <a href="#" class="addFood">ajouter un plat</a>
      </ul>
    </div>
  </div> 
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Desserts</span></h3>

      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img src="../components/asset/img/Desserts.PNG" alt="salade" class="img-fluid">
      <ul>
        <li><p><span>Dessert 1</span><span class="price">5€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Dessert 2</span><span class="price">55€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Dessert 3</span><span class="price">5000€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <a class="addFood" href="#">ajouter un dessert</a>
      </ul>
    </div>
  </div>
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Boissons</span></h3>

      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img src="../components/asset/img/Desserts.PNG" alt="salade" class="img-fluid">

      <ul>
        <li><p><span>Boisson 1</span><span class="price">5€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Boisson 2</span><span class="price">55€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
        <li><p><span>Boisson 3</span><span class="price">5000€<a href="#"> <img src="../components/asset/img/crayon15x15.png" class="img-fluid pen" alt="modify"></a> </span></p>
        </li>
      </ul>
      <a class="addFood bottom" href="#">ajouter une boisson</a>
    </div>
  </div>
  <div class="row">
    <nav id="navBar"> 
      <ul>
        <li>
          <a href="#!/view3"><img src="../components/asset/img/profilicon20x20.png" class="img-fluid" alt=Profil></a>
        </li>
        <li class="middle">
          <a href="#!/orderHistory"><img src="../components/asset/img/commandeicon20x24.png" class="img-fluid" alt="commande"></a>
        </li>
        <li>
          <a href="#!/monResto"><img src="../components/asset/img/crayon20x20.png" alt="Menu"></a>
        </li>
      </ul>
    </nav>
  </div>    
</div>  

 <!--parti client-->
  
<div class="container-fluid" id="cardChangePage" ng-if="!IsRestaurant">

  <div class="row headerPrevious">
    <div class="col-md">    
      <a href="#!/customerSearch"> 
        <img src="../components/asset/img/previous1.png"></a> 
      <h1>Choisissez des produits</h1>
    </div>    
  </div>

  <div class="row bodycard">
    <div class="col-md">
      <h2>{{resto.nom}}</h2>

      <div class=imgResto>
        <img ng-src="{{resto.img}}"  class="img-fluid" alt="RestoImg">
      </div>    
      <h3><span>Entrées</span></h3>
      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img ng-src="{{entrees.img}}" class="img-fluid">

      <ul>
        <li><p><span>{{entrees.plats[1].nom}}</span><span class="price">{{entrees.plats[1].prix}}€<button ng-click="dataToMoal(entrees.plats[1].nom, entrees.plats[1].prix,'entrees')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{entrees.plats[2].nom}}</span><span class="price">{{entrees.plats[2].prix}}€<button ng-click="dataToMoal(entrees.plats[2].nom, entrees.plats[2].prix,'entrees')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{entrees.plats[3].nom}}</span><span class="price">{{entrees.plats[3].prix}}€ <button ng-click="dataToMoal(entrees.plats[3].nom, entrees.plats[3].prix,'entrees')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
      </ul>
    </div>
  </div>    
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Plats</span></h3>
      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img ng-src="{{plats.img}}" class="img-fluid">
      <ul>
        <li><p><span>{{plats.plats[1].nom}}</span><span class="price">{{plats.plats[1].prix}}€<button ng-click="dataToMoal(plats.plats[1].nom,plats.plats[1].prix,'plats')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{plats.plats[2].nom}}</span><span class="price">{{plats.plats[2].prix}}€<button ng-click="dataToMoal(plats.plats[2].nom,plats.plats[2].prix,'plats')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{plats.plats[3].nom}}</span><span class="price">{{plats.plats[3].prix}}€<button ng-click="dataToMoal(plats.plats[3].nom,plats.plats[3].prix,'plats')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
      </ul>
    </div>
  </div> 
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Desserts</span></h3>

      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img ng-src="{{desserts.img}}" class="img-fluid">
      <ul>
        <li><p><span>{{desserts.plat[1].nom}}</span><span class="price">{{desserts.plat[1].prix}}€<button ng-click="dataToMoal(desserts.plat[1].nom,desserts.plat[1].prix,'desserts')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{desserts.plat[2].nom}}</span><span class="price">{{desserts.plat[2].prix}}€<button ng-click="dataToMoal(desserts.plat[2].nom,desserts.plat[2].prix,'desserts')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{desserts.plat[3].nom}}</span><span class="price">{{desserts.plat[3].prix}}€<button ng-click="dataToMoal(desserts.plat[3].nom,desserts.plat[3].prix,'desserts')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>Boissons</span></h3>

      <img src="../components/asset/img/arrowdown.png" alt="arrowdown" class="img-fluid arrow">
      <br>
      <img ng-src="{{boissons.img}}" class="img-fluid">

      <ul>
        <li><p><span>{{boissons.plats[1].nom}}</span><span class="price">{{boissons.plats[1].prix}}€<button ng-click="dataToMoal(boissons.plats[1].nom,boissons.plats[1].prix,'boissons')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{boissons.plats[2].nom}}</span><span class="price">{{boissons.plats[2].prix}}€<button ng-click="dataToMoal(boissons.plats[2].nom,boissons.plats[2].prix,'boissons')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
        <li><p><span>{{boissons.plats[3].nom}}</span><span class="price">{{boissons.plats[3].prix}}€<button ng-click="dataToMoal(boissons.plats[3].nom,boissons.plats[3].prix,'boissons')" type="button" data-toggle="modal" data-target="#myModal1">+</button></span></p>
        </li>
      </ul>
    </div>
  </div> 
    <button ng-click="validateOrder()" type="button" >Valier la commande</button>
</div>  

<!--ng-click="dataToMoal(boissons.plats[1].nom,boissons.plats[1].prix)"-->

<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="container-fluid addMenu">
        <div class="row addMenuHeader">
          <div class="col-md">
            <a href="#"><img class="resize_fit_center" src="../../../components/asset/img/crayon20x20.png"></a>
          </div>
        </div>
        <div class="row addMenuBody">
          <div class="col-md">
            <a href='#'><img class="imgProduct" src="../../../components/asset/img/Plat.PNG"></a>
            <h2>{{nomPlat}}</h2>
            <ul>
              <li><p><span>Prix:</span><span class="price">{{prixPlat}}€</span></p></li> 
            </ul>    
          </div>
        </div>
        <div class="row addMenuFooter">
          <div class="col-md">
            <button type="button" class="champColor2" ng-click="addShop()" data-dismiss="modal">Ajouter au panier</button>
          </div>
        </div>
      </div>   
    </div>         
  </div>
</div>