
<div class="container-fluid">
  <div class="row customerSearchHeader">
    <div class="col-md">
      <a href="#!/customerHome"><img src="../components/asset/img/previous1.png" class="img-fluid customerSearchPrevious"></a>
      <a href="#"><img src="../components/asset/img/categorieHomeClient2.PNG" class="img-fluid customerHomeCateg"></a> 
    </div>
  </div>
  <div class="row customerSearchBody">
    <div class="col-md">
      <img src="../components/asset/img/miam.PNG" class="img-fluid">
      <h2>Nos restaurants partenaires à proximité</h2>
    </div>   
  </div>
  
  
  <div class="row bodycard">
    <div class="col-md">
      <h3><span>{{restaurant[1].nom}}</span></h3>
      <img ng-src="{{restaurant[1].img}}" class="img-fluid" ng-click="selectRestaurant(restaurant[1])">    
      <div class="restoDescCustomer" >
        <p>{{restaurant[1].nom}}</p>
        <p>{{restaurant[1].description}}</p>
        <p>{{restaurant[1].horaire}}</p>    
      </div>
    </div>
  </div>
   <div class="row bodycard">
    <div class="col-md">
      <h3><span>{{restaurant[2].nom}}</span></h3>
      <img ng-src="{{restaurant[2].img}}" class="img-fluid" ng-click="selectRestaurant(restaurant[2])">    
      <div class="restoDescCustomer" >
        <p>{{restaurant[2].nom}}</p>
        <p>{{restaurant[2].description}}</p>
        <p>{{restaurant[2].horaire}}</p>    
      </div>
    </div>
  </div>
</div>        
