
<div class="container-fluid" id="infoDeliver">
  <div class="row">
    <div class="col-md infoDelivereBody">
      <input type="button" value="Showing map" ng-click="getCurrentPosition()">:
      <div class="iframe"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md infoDeliverBody"> 
      <img src="../components/asset/img/arrowdown.png">
      <h2>19:20<h2>
        <p>18 min</p>    
        <h3>Commande n° {{order.id}}</h3>    
        <p>Mr GuiGui le Dev</p>
        <p>{{order.adress.nom}}</p>
        <button ng-if="typeOffer == 'restaurant'" ng-click="clickRecovered()" type="button">Récupéré</button> 
        <button ng-if="typeOffer == 'client'" ng-click="clickLivery()" type="button">Livrée</button>     
    </div>        
  </div>
</div>        
