
<div class="container-fluid connectPage" >

  <div class="row connectPage">
    <div class="col-md" id="login">
      <h1>S'inscrire</h1>
      <input type="text" class="champColor" ng-model="user.firstname" id="prenom" placeholder="  Prénom" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.lastname" id="nom" placeholder="  Nom" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.compagny" id="compagnyName" placeholder="  Nom de votre entreprise" ng-if="compagny" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.siret" id="siretNumber" placeholder="  N° Siret" ng-if="compagny" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.postalAdress" id="postalAdress" placeholder="  Adresse postale" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.email" id="email" placeholder="  Email" ng-keyup="validateTest()">
      <input type="text" class="champColor" ng-model="user.phoneNumber" id="phoneNumber" placeholder="  Tel portable" ng-keyup="validateTest()">
      <input type="password" class="champColor" ng-model="user.password" id="password" placeholder="  Mot de passe" ng-keyup="validateTest()">
      <input type="password" class="champColor" ng-model="user.confirmPassword" id="confirmPassword" placeholder="  Confirmation mot de passe" ng-keyup="validateTest()">
      <p>Vous avez déjà un compte ?</p> {{validate}}
      <button type="button" ng-disabled="validate" ng-click="signUp($event)" class="btn btn-lg btn-primary btn-block">Sign Up</button>
    </div>
  </div>
</div>