
<div ng-if="role == 'client'" class="container-fluid" id="RecapOrder">
  <div class="row">
   <div class="col-md orderHistoricHeader">
      <a ng-if="typeOffer == restaurant">en préparation</a>
      <a ng-if="typeOffer == client">en livraison</a>
    </div> 
    <div class="col-md">
      <div ng-if="typeOffer == client" class="iframe"></div>
    </div>
  </div>
<!--  <div class="row bodyRecapOrder">
    <div class="col-md"> 
      <img src="../components/asset/img/mapgreen.PNG" ><h2>45 rue du chemin vert</h2>
      <a href="#" ><span class="modifyItem">Modifier l'adresse</span></a>
      <br>
      <img src="../components/asset/img/mapgreen.PNG" ><h2>06 00 00 00 00</h2>
    </div>  
  </div>-->
  <div class="row bodyRecapOrder">
    <div class="col-md">
      <h2>Commande :{{order.id}}</h2>
      <div class="listeOrder">
        <ul>
          <li ng-repeat="entree in order.plats.entrees" ><p>{{entree.nom}}<span class="price">{{entree.prix}}€</span></p></li>
          <li ng-repeat="plat in order.plats.plats" ><p>{{plat.nom}}<span class="price">{{plat.prix}}€</span></p></li>
          <li ng-repeat="dessert in order.plats.desserts"><p>{{dessert.nom}}<span class="price">{{dessert.prix}}€</span></p></li>
          <li ng-repeat="boisson in order.plats.boissons"><p>{{boisson.nom}}<span class="price">{{boisson.prix}}€</span></p></li>
          <li><p>commande<span class="price">2,50€</span></p></li>
        </ul>
      </div>
      <h2>Total : <span class="price">{{order.price}}€</span></h2>
    </div>    
  </div>
</div> 

<div ng-if="role == 'restaurant'" class="container-fluid orderHistory">
  <div class="row">
    <div class="col-md orderHistoricHeader">
      <a ng-if="typeOffer == restaurant">en préparation</a>
      <a ng-if="typeOffer == client">en livraison</a>
    </div> 
  </div>
  <div class="row">
    <div class="col-md reOrder">
      <div class="reOrderBody">
        <a href=""><img src="../components/asset/img/picReorder.PNG"></a>
        <br>
        <ul>
          <li ng-repeat="entree in order.plats.entrees" ><p>{{entree.nom}}<span class="price">{{entree.prix}}€</span></p></li>
          <li ng-repeat="plat in order.plats.plats" ><p>{{plat.nom}}<span class="price">{{plat.prix}}€</span></p></li>
          <li ng-repeat="dessert in order.plats.desserts"><p>{{dessert.nom}}<span class="price">{{dessert.prix}}€</span></p></li>
          <li ng-repeat="boisson in order.plats.boissons"><p>{{boisson.nom}}<span class="price">{{boisson.prix}}€</span></p></li>
          <li><p>commande<span class="price">2,50€</span></p></li>
        </ul>
        <h2>TOTAL :<span>{{order.price}}€</span></h2>
        <button type="button" ng-click="clickRecovered()"> commande récupéré</button>
      </div>
    </div>
  </div>
</div>       
