
<div class="container-fluid" id="restoChangePage">
  <div class="row headerNext">
    <div class="col-md">    
      <a href="cardChange.html"> 
        <img src="../components/asset/img/fl%C3%A8che.png"></a> 
      <h1>Mon restaurant <img src="../components/asset/img/crayon20x20.png" alt="pen" class="img-fluid"></h1>
    </div> 
  </div>
  <div class="row">        
    <div class="col-md restoDesc">
      <h3><span>Côme</span></h3>
      <img src="../components/asset/img/nous%20paradis.png" class="img-fluid">
      <!--<a href="#">modifier</a>-->

    </div>
  </div>
  <div class="row">
    <div class="col-md restoEdit">
      <p>{{restaurant[1].nom}}</p>
      <p ng-click="changeDesc()">{{restaurant[1].description}}<p>
      <br>
      <p id="restoEditPSpace">horaires d'ouvertures :</p>
      <p ng-click="changehorraire()">{{restaurant[1].horraire}}<p>
    </div>
  </div> 
</div> 
