        <div class="container-fluid">
            <div class="row">
                <div class="col-md homeTitle">
                    <h1>Je suis ...</h1>
                    <button type="button" class="champColor" ng-click="clickClient()">Client</button>
                    <br>
                    <button type="button" class="champColor" ng-click="clickdelivery()">Livreur</button>
                    <br>
                    <button type="button" class="champColor" ng-click="clickrestaurant()">Restaurateur</button>
                </div>
            </div> 
        </div>        
